
.weekday a{
   background-color : lightgreen !important;
   background-image :none !important;
}

.weekend a{
   background-color : yellow !important;
   background-image :none !important;
}

.holiday a{
   background-color : orange !important;
   background-image :none !important;
}

.invalid span{
    color: transparent !important;
}

.invalid td{
    background-color: grey !important;
}

.ui-state-active {
    color: #3f3731 !important;
}
